@import "../base/mixins";

.target
{

  &.animate
  {

  }

  &__toggle
  {

    h1
    {
      svg
      {
        //max-width: 329px;
        margin-left: 15px;

        // 1560px
        @media (max-width: $screen-xl-min)
        {
          //max-width: 250px;
          //transform: translateY(-1.5px);

        }

        // 520px
        @media (max-width: $screen-mdsm-min)
        {
          //max-width: 120px;
          //transform: translateY(-.5px);
          margin-left: 8px;
        }
      }
    }
  }

  &__slider
  {

    &.active
    {
      position: relative;
      z-index: 20;
      opacity: 1;
    }

    &.disabled
    {
      position: absolute;
      z-index: -20;
      opacity: 0;
    }

    &__img
    {
      width: 100%;

      &__bg-1
      {
        background: url("../assets/img/slider-bg.png");
        width: 100%;
        height: 100%;
      }

      &__bg-2
      {
        background: url("../assets/img/slider-bg-2.png");
        width: 100%;
        height: 100%;
      }

      &__bg-3
      {
        background: url("../assets/img/slider-bg-3.png");
        width: 100%;
        height: 100%;
      }

      &__images__toggle-1
      {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;

        .toggle-div
        {

          &.op-0
          {
            opacity: 0;
          }
        }

        &.row
        {
          display: block;
        }


        & div
        {

          z-index: 20;
          margin-bottom: 17px;

        }

        &__target-1-parent
        {
          width: 154%;
          height: 56%;

          max-width: 936px;
          max-height: 595px;

          &.animate
          {
            animation: leftToRightHorizontalTarget-1 .8s;


          }
        }

        &__target-1
        {

          width: 100%;
          height: 100%;


          background: url("../assets/img/target-toggle-1.png") no-repeat center !important;
          background-size: contain !important;


          canvas
          {
            width: 100% !important;
            height: 100% !important;
          }

        }

        &__target-2-parent
        {
          width: 154%;
          height: 56%;

          max-width: 936px;
          max-height: 595px;

          &.animate
          {
            animation: leftToRightHorizontalTarget-1 .8s;
          }
        }

        &__target-2
        {
          width: 100%;
          height: 100%;

          transform: translateX(-40px);

          background: url("../assets/img/target-toggle-2.png") no-repeat center !important;
          background-size: contain !important;


          canvas
          {
            width: 100% !important;
            height: 100% !important;
          }
        }

        &__target-3-parent
        {
          width: 154%;
          height: 56%;

          max-width: 936px;
          max-height: 595px;

          &.animate
          {
            animation: leftToRightHorizontalTarget-1 .8s;
          }
        }

        &__target-3
        {
          width: 100%;
          height: 100%;


          background: url("../assets/img/target-toggle-3.png") no-repeat center !important;
          background-size: contain !important;


          canvas
          {
            width: 100% !important;
            height: 100% !important;
          }
        }

      }
    }

  }
}

.mob-target
{
  &__slider
  {
    &__img
    {
      &__images__toggle-1
      {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .toggle-div
        {

          &.op-0
          {
            opacity: 0;
          }
        }

        &.row
        {
          display: block;
        }


        & div
        {

          z-index: 20;
          margin-bottom: 17px;

        }

        &__target-1-parent
        {
          width: 154%;
          height: 56%;

          max-width: 936px;
          max-height: 595px;

          &.animate
          {
            animation: leftToRightHorizontalTarget-1 .8s;


          }
        }

        &__target-1
        {

          width: 100%;
          height: 100%;


          background: url("../assets/img/target-toggle-1.png") no-repeat center !important;
          background-size: contain !important;


          canvas
          {
            width: 100% !important;
            height: 100% !important;
          }

        }

        &__target-2-parent
        {
          width: 154%;
          height: 56%;

          max-width: 936px;
          max-height: 595px;

          &.animate
          {
            animation: leftToRightHorizontalTarget-1 .8s;
          }
        }

        &__target-2
        {
          width: 100%;
          height: 100%;

          transform: translateX(-40px);

          background: url("../assets/img/target-toggle-2.png") no-repeat center !important;
          background-size: contain !important;


          canvas
          {
            width: 100% !important;
            height: 100% !important;
          }
        }

        &__target-3-parent
        {
          width: 154%;
          height: 56%;

          max-width: 936px;
          max-height: 595px;

          &.animate
          {
            animation: leftToRightHorizontalTarget-1 .8s;
          }
        }

        &__target-3
        {
          width: 100%;
          height: 100%;


          background: url("../assets/img/target-toggle-3.png") no-repeat center !important;
          background-size: contain !important;


          canvas
          {
            width: 100% !important;
            height: 100% !important;
          }
        }

      }
    }
  }
}


@keyframes leftToRightHorizontalTarget-1
{
  from
  {
    overflow: hidden;
    height: 56%;
    width: 0;
  }
  to
  {
    overflow: hidden;
    width: 154%;
    height: 56%;
  }
}